@media screen and (min-height: 993px) and (min-width: 1201px) {
    .presentacion__tarjeta h1{
        font-size: 3.5em;
    }
    .presentacion__tarjeta p, li{
        font-size: 1.8em;
    }
    .presentacion__tarjeta{
        padding: 30px;
    }
}
/*-- -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .presentacion__tarjeta h1{
        font-size: 3.5em;
    }
    .presentacion__tarjeta p, li{
        font-size: 1.8em;
    }
    .presentacion__tarjeta{
        padding: 30px;
    }
}

@media screen and (min-width: 1201px) {
    .presentacion__tarjeta h1{
        font-size: 3.5em;
    }
    .presentacion__tarjeta p, li{
        font-size: 1.8em;
    }
    .presentacion__tarjeta{
        padding: 30px;
    }
}
