@media screen and (min-height: 993px) and (min-width: 1201px) {
    .presentacion {
        height: 800px;
    }
}
/*-- -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    #wel {
        height: 800px;
        background: linear-gradient( 0deg, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.5) ), url(assets/pc-cafe1200x800.jpg) no-repeat;
    }
}

@media screen and (min-width: 1201px) {
    #wel {
        height: 993px;
        background: linear-gradient( 0deg, rgba(40, 40, 40, 0.5), rgba(40, 40, 40, 0.5) ), url(assets/pc-cafe1400x993.jpg) no-repeat;
        background-size: cover;
    }
}
