
/*-- -------------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 576px){
    header .nav-link {
        margin: 0 5px;
    }
    .presentacion__tarjeta img{
        width: 150px;
        height: 150px;
    }
    .ruta__cartel h1 {
        font-size: 1.4em;
    }
    .contenedor-tarjeta:nth-child(-2n) {
        flex-direction: column;
    }
    .tarjeta {
        width: 170px;
        height: 200px;
    }
    .tarjeta .back {
        width: 170px;
        height: 200px;
    }
    .front h1{
        font-size: 1.5em;;
        margin-bottom:10px;
    }
    .back p {
        font-size: 0.8em;
        margin: 10px auto 0;
        align-self: center;
        justify-self: center;
    }

}
    @media screen and (min-width: 420px){
        .tarjeta {
            width: 200px;
            height: 210px;
        }
        .tarjeta .back {
            width: 200px;
            height: 210px;
        }
    }
    @media screen and (max-width: 400px){
        .header__navlink{
            margin: 0 2px;
        }
}
@media screen and (min-width:620px) {
    .about__text{
        font-size: 1.7em;
    }
    .contenedor__tarjeta{
        grid-template: 
        "t1 t2 t3"
        "t4 t5 t6"
    ;
    }
}
