@media screen and (min-width: 577px) and (max-width: 768px) {
    .presentacion__tarjeta img{
        
    }
    .presentacion__tarjeta h1{
        font-size: 3em;
    }
    .presentacion__tarjeta p, li{
        font-size: 1.5em;
    }

    .about__text{
        font-size: 1.5;
    }
    .ruta__cartel h1 {
        font-size: 1.8em;
    }
    .proyectos img:first-child{
        width: 550px;
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
    .presentacion__tarjeta h1{
        font-size: 3.5em;
    }
    .presentacion__tarjeta p, li{
        font-size: 1.8em;
    }
    .presentacion__tarjeta{
        padding: 30px;
    }
    .about__text{
        font-size: 2.2em;
    }
    .proyectos img:first-child{
        width: 650px;
    }
}
